
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
       
        @await Component.InvokeAsync("_AdminLayoutSpinnerComponentPartial")
    </div>
       
    @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
      
        <div class="content">
     
        
        @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
 
        @RenderBody()
       
        @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")

        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/chart/chart.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="~/dashmin-1.0.0/js/main.js"></script>
</body>

</html>
